.env
.env.local
.env.*.local
.env.production
vendor/
composer.lock
.DS_Store
.Trashes
Thumbs.db
*.swp
*.swo
*~
*.log
error_log
php_errors.log
/node_modules/
/.npm
/.yarn
/build/
/dist/
/out/
.vscode/
.idea/
*.tmproj
.docker/
*.sql
*.sqlite
/db/
/coverage/
*.tar.gz
*.zip
/temp/
/tmp/
.cache/
*.cache